*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.rect{
    display: flex;
}
.shape{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}
#cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: aqua;
    position: absolute;
}